*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .container{

  width: 100%;
  height: 100vh;
  background-color: #F9EEE3;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .container .header{
  margin-top: 100px;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  }
  .slide-container{
  
      width: 40%;
      height: 30vh;
      background-color: #fff;
      border-radius: 96px;
      display: flex;
      justify-content: center;
      position: relative;
      
  
  }
  .slide-container .slide{
    border: 1px solid transparent;
    width: 10%;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 48px;
  left: 275px;
  border-radius: 5px;
  }
  .slide-container .btn{
    border: 1px solid transparent;
    width: 56px;
    height: 56px;
    border-radius: 30px;
  }
  .minus{
    position: absolute;
    top: 75px;
    left: 215px;
  }
  .plus{
    position: absolute;
    top: 75px;
    left: 345px;
  }
  .bt{
    border: 1px solid transparent;
    width: 76px;
    height: 36px;
    border-radius: 30px;
  }
  .reset{
    position: absolute;
    top: 150px;
    left: 267px;
  }